html,
body {
  overflow-x: hidden; //horizontal
  overflow-y: scroll; //vertical
}
#widget {
  touch-action: none;
  margin: 10vmax auto;
  padding: 20px 30px;
  max-width: 500px;
  border-radius: 1rem;
  font-family: "Roboto", sans-serif;
}
